server:
  port: 9000

spring:
  application:
    name: config
  cloud:
      config:
        server:
          git:
            uri:  file://./config-repository

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka