server:
  port: 8090
spring:
  application:
    name: fraud
  datasource:
    url: jdbc:postgresql://localhost:5432/microservices
    username: microservices_user
    password: microservices_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
  rabbitmq:
    host: localhost
    port: 5672
    username: notification
    password: notification_password
    virtual-host: /

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka